@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  background-color: #060b0e;
  color: white;
}

.wrapper {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 80px;
    padding-right: 80px;
  }
  
  @media screen and (max-width: 1536px) {
    .wrapper {
      max-width: 1366px;
    }
  }
  @media screen and (max-width: 1280px) {
    .wrapper {
      max-width: 1024px;
    }
  }
  @media screen and (max-width: 1024px) {
    .wrapper {
      max-width: 768px;
      padding-left: 40px;
      padding-right: 40px;
    }
  }
  @media screen and (max-width: 768px) {
    .wrapper {
      max-width: 640px;
    }
  }
  @media screen and (max-width: 640px) {
    .wrapper {
      max-width: 475px;
    }
  }

  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #0c0b29 #0c151b;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: #0c151b;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #2927a0;
    border-radius: 10px;
    border: 0px none #ffffff;
  }


  /* Extra css for all components */

  button:disabled{
    opacity: 0.5;
    cursor: not-allowed;
  }

.arrow {
    animation: arrowAnimation 2s infinite ;
}

@keyframes arrowAnimation {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(20px);
    }
}

.hero-box{
  background-color: rgba(49, 12, 104, 0.2);
}